# Server
PORT=8000
NODE_ENV=development

# Database
# MONGODB_URI=mongodb+srv://ayush321raj:<Mypassword>@studysync-ai.p5dnrzg.mongodb.net/studysync-ai?retryWrites=true&w=majority&appName=studysync-ai
MONGODB_URI=mongodb://127.0.0.1:27017/studysync-ai
DB_NAME=studysync-ai

# CORS
CORS_ORIGIN=http://localhost:5173

# JWT (will fill in Phase 2)
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=7d


# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=